:root {
  --contrast:#fdf5f2;
  --background:#e8c42b;
  --font:#24201e;
  --accent:#b75244;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  color: var(--font);
  background-color: var(--background);
}

#main-image-container {
  background-image: url(./ian-dooley-hpTH5b6mo2s-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

#photo-color-layer {
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#image-logo-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#credit-container {
  font-size: xx-small;
}

.form-element-container {
  display: flex;
  flex-direction: column;
}

#presentation-text,
#form-container,
#has-account {
  padding-left: 10px;
  padding-right: 10px;
}

legend {
  text-align: center;
}

.form-element-container {
  margin-top: 5px;
}

label {
  font-size: small;
}

button {
  background-color: var(--accent);
  color: var(--contrast);
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.4) inset, 0px -3px 5px rgba(0, 0, 0, 0.4) inset;
  font-size: large;
}