:root {
  --contrast:#fdf5f2;
  --background:#e8c42b;
  --font:#24201e;
  --accent:#b75244;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sofia Sans', sans-serif;
  color: var(--font);
  background-color: var(--background);
}

#main-image-container {
  background-image: url(./jr-korpa-Dm-DXaMx2vY-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#main-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#photo-color-layer {
  display: flex;
  background-color: #fdf5f2b3;
  padding: 5px;
}

#credit-container {
  padding: 10px;
}

#credit-container,
#credit-container a {
  font-size: xx-small;
  text-align: center;
  color: var(--contrast);
}

.form-element-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

#presentation-text,
#form-container,
#has-account {
  padding-left: 10px;
  padding-right: 10px;
}

legend {
  text-align: center;
}

label {
  font-size: small;
}

button {
  background-color: var(--accent);
  color: var(--contrast);
  border-style: none;
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.4) inset, 0px -3px 5px rgba(0, 0, 0, 0.4) inset;
  font-size: large;
}

#passwords-validation-warning {
  display: none;
  font-size: xx-small;
  color: var(--accent);
}

@media (min-width: 768px) {
  #presentation-text {
    font-size: larger;
  }

  legend {
    font-size: larger;
  }

  #form-inputs-container {
    display: flex;
    flex-direction: column;
  }

  .form-sub-container {
    display: flex;
    justify-content: space-evenly;
  }
}