body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-image-container {
  background-image: url(./ian-dooley-hpTH5b6mo2s-unsplash.jpg);
}

.form-element-container {
  display: flex;
  flex-direction: column;
}

